<aside class="content-side smart-filter-nkol">

{% if filters %}

<h4>Filtrar</h4>

<form name="form-filter" method="get">
    <input type="hidden" name="loja" value="{{ store.id }}">
 
    {% if category.id %}
        <input type="hidden" name="categoria" value="{{ category.id }}">
    {% endif %}
 
    {% for myFilter in filters %}
 
        {% if myFilter.items %}
 
            <h3>{{ myFilter.title }}</h3>
            <ul>
            {% for item in myFilter.items %}
                <li>
                    {% if item.type == "link" %}
                        <a href="{{ item.url }}">{{ item.title }}</a>
                    {% endif %}
 
                    {% if item.type == "checkbox" %}
                        <label>
                            {% set checked = item.applied ? 'checked="checked"' %}
                            <input type="checkbox" name="{{ item.name }}" value="{{ item.value }}" {{ checked }} />
                            {{ item.title }}
                        </label>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
 
        {% elseif myFilter|length %}
 
           {% for var in myFilter %}
 
               <h3>{{ var.title }}</h3>
               <ul>
                   {% for item in var.items %}
                   <li>
                       {% if item.type == "link" %}
                       <a href="{{ item.url }}">{{ item.title }}</a>
                       {% endif %}
 
                       {% if item.type == "checkbox" %}
                       <label>
                           {% set checked = item.applied ? 'checked="checked"' %}
                           <input type="checkbox" name="{{ item.name }}" value="{{ item.value }}" {{ checked }} />
                           {{ item.title }}
                       </label>
                       {% endif %}
                   </li>
                   {% endfor %}
               </ul>
 
           {% endfor %}
 
        {% endif %}
 
    {% endfor %}
 
    <button type="submit" class="filter-button">{{ Translation('filtrar') }}</button>
</form>
 
{% endif %}
</aside>